body{
  background-image: linear-gradient(rgba(20,20,20, 0.5), rgba(20,20,20, 0.5)), url(images/beach.jpg);
}
h1{
  text-align: center;
  padding: 13%;
}
h3{
  text-align: center;
  padding: 13%;
}
h2{
  text-align: center;
  padding: 13%;
}

.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ContentContainer {
  display: block;
  position: relative;
  background-image: url(images/img-2.jpg);
  z-index: 1;
}

.ContentContainer2 {
  display: flex;
  position: relative;
  height: 100vh;
  background-image: url(images/img-4.jpg);
  z-index: 1;
  /*margin-top: 150px;*/
  align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}

.ContentContainer3 {
  display: flex;
  position: relative;
  height: 100vh;
  background-image: url(images/img-5.jpg);
  z-index: 1;
  /*margin-top: 150px;*/
  align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}

.ContentContainer4 {
  display: block;
  position: relative;
  height: 100vh;
  background-image: url(images/img-3.jpg);
  z-index: 1;
  margin-top: 150px;
}

/*.center{
  height: 200px;
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

.center{
  height: 200px;
  /*transform: translate(-50%, -50%);*/
}
